{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container my-5 d-flex justify-content-center">

    <form method="post" class="p-4 border rounded" style="max-width: 600px; width: 100%; background-color: #ffffff;">
      {% csrf_token %}

      <h3 class="mb-4 text-center text-primary">{{ object|yesno:"Update,Create" }} Redactor</h3>

      {{ form|crispy }}

      <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-success w-45">
          {{ object|yesno:"Update,Create" }}
        </button>
        <a href="javascript:history.back()" class="btn btn-outline-dark w-45">Cancel</a>
      </div>
    </form>

  </div>
{% endblock %}
