{% extends "base.html" %}

{% block content %}
  <h1>Newspapers:</h1>
  {% if newspaper_list %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Topic</th>
        <th scope="col">Published date</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
      </tr>
      </thead>
      <tbody>
      {% for newspaper in newspaper_list %}
        <tr>
          <th scope="row"><a href="">{{ newspaper.id }}</a></th>
          <td>{{ newspaper.title }}</td>
          <td>{{ newspaper.topic }}</td>
          <td>{{ newspaper.published_date }}</td>
          <td>{{ newspaper.created_at }}</td>
          <td>{{ newspaper.updated_at }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>There are no newspapers!</h2>
  {% endif %}
{% endblock %}
