{% extends "base.html" %}

{% block content %}
  <h1>Topics: <a href="{% url 'core:topic-create' %}" class="btn btn-primary link-to-page"><i
      class="bi bi-plus-circle me-1"></i>New topic</a></h1>
  {% include "includes/search_form.html" %}
  {% if topic_list %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Topic name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      {% for topic in topic_list %}
        <tr class="align-middle">
          <th scope="row"><a href="{% url 'core:topic-detail' pk=topic.pk %}">{{ topic.id }}</a></th>
          <td><span class="badge bg-secondary fs-6">{{ topic.name }}</span></td>
          <td><a href="{% url 'core:topic-update' pk=topic.pk %}" class="btn btn-outline-primary">
            <i class="bi bi-arrow-repeat"></i></a></td>
          <td><a href="{% url 'core:topic-delete' pk=topic.pk %}" class="btn btn-outline-danger">
            <i class="bi bi-trash"></i></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>There are no topics!</h2>
  {% endif %}
{% endblock %}
