{% extends "base.html" %}

{% block content %}
  <div class="card border-primary mb-4" style="width: 18rem;">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">Topic info:</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">Name: {{ topic.name }}</h5>
      <hr>
      <p class="card-text">News count: {{ topic_news_count }}</p>
      <hr>
      <p class="card-text">
        <a href="{% url 'core:topic-update' pk=topic.pk %}" class="btn btn-outline-primary">
          <i class="bi bi-arrow-repeat"></i></a>
        <a href="{% url 'core:topic-delete' pk=topic.pk %}" class="btn btn-outline-danger">
          <i class="bi bi-trash"></i></a>
      </p>
    </div>
  </div>

  {% if topic.newspapers.all %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th scope="col">Published date</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
      </tr>
      </thead>
      <tbody>
      {% for newspaper in topic.newspapers.all %}
        <tr class="align-middle">
          <th scope="row"><a href="{% url 'core:newspaper-detail' pk=newspaper.pk %}">{{ newspaper.id }}</a></th>
          <td>{{ newspaper.title }}</td>
          <td><a href="{% url 'core:newspaper-update' pk=newspaper.pk %}" class="btn btn-outline-primary">
            <i class="bi bi-arrow-repeat"></i></a></td>
          <td><a href="{% url 'core:newspaper-delete' pk=newspaper.pk %}" class="btn btn-outline-danger">
            <i class="bi bi-trash"></i></a></td>
          <td>{{ newspaper.published_date }}</td>
          <td>{{ newspaper.created_at }}</td>
          <td>{{ newspaper.updated_at }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>This topic doesn't have any newspapers!</h2>
  {% endif %}

{% endblock %}
