{% extends "base.html" %}

{% block content %}
  <div class="container my-5 d-flex justify-content-center">

    <form method="post" class="p-4 border rounded text-center"
          style="max-width: 500px; width: 100%; background-color: #ffffff;">
      {% csrf_token %}

      <h3 class="mb-4 text">Delete Topic?</h3>

      <p class="fs-5">
        <span class="badge bg-warning text-dark px-3 py-2">{{ topic }}</span>
      </p>

      <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-outline-danger w-45">Delete</button>
        <a href="javascript:history.back()" class="btn btn-outline-dark w-45">Cancel</a>
      </div>
    </form>

  </div>
{% endblock %}
